body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: maroon;
    letter-spacing: 3px;
}

h4 {
    text-align: center;
    color: rgb(24, 26, 24);
}

.maincontainer {
    background-color: rgb(15, 220, 18);
    height: 200px;
}

.card {
    text-align: center;
    height: 190px;
    width: 150px;
    display: inline-block;
    background-color: rgb(23, 191, 191);
    margin: -1px;
    padding: 10px;

}

.two {
    text-align: center;
    height: 190px;
    width: 150px;
    display: inline-block;
    background-color: rgb(145, 17, 17);
    padding: 10px;


}
.div {
    background-color: aquamarine;
    text-align: center;
    width: 300px;
    height: 100px;
    color: black;
    margin: auto;
    padding: 20px;


}