body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: maroon;
    letter-spacing: 3px;
}

h4 {
    text-align: center;
    color: rgb(24, 26, 24);
}

.maincontainer{
    align-items: center;   
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    height: auto;
    width: 200px;
    background-color: rgb(23, 191, 191);
    margin: -1px;
    padding: 10px; 
    font-size: 16px;
    font-weight: bold;

}

.cardtwo {
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 300px;
    height: auto;
    width: 200px;
    background-color: rgb(10, 139, 29);
    margin: -1px;
    padding: 10px; 
    font-weight: bold;
}
.div {
    background-color: aquamarine;
    text-align: center;
    width: 400px;
    height: 100px;
    color: black;
    margin: auto;
    padding: 20px;
}
#bold{
    font-size: 40px;
    color: blue;
    font-weight: bold;
    
}
#big{
    font-size: 40px;
    color: blue;
    font-weight: bold;
    
}